<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>

    <form action="" method="post">

        {% csrf_token %}

        <input type="text" name="first_name" placeholder="First Name" id=""> <br>
        <input type="text" name="last_name" placeholder="Last Name" id=""> <br>
        <input type="text" name="username" placeholder="User Name" id=""> <br>
        <input type="email" name="email" placeholder="Email" id=""> <br>
        <input type="password" name="password1" placeholder="Password" id=""> <br>
        <input type="password" name="password2" placeholder="Confirm Password" id=""> <br>
        <input type="submit" value="submit">

    </form>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>